@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

* {
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
    background-color: rgb(72, 209, 204);
}


.App {
    text-align: center;
    ;
  }

.landing-image {
    background-image: url('http://i.imgur.com/ZP1d1vJ.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.landing-info {
    padding: 4%;
    background-color: rgba(72, 209, 204, 0.3);
    width: 800px;
    margin: 10px auto;
}

.landing-info p {
    border-radius: 20px;
}

.cocktail-image, .index-image {
    max-height: 200px;
    max-width: 200px;
    border-radius: 20px;
}

.cocktail-image {
    background-color: whitesmoke;
}
.interview-image {
    max-height: 600px;
    max-width: 600px;
    border-radius: 20px;
}

.guide-image {
    max-height: 300px;
    max-width: 550px;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(72, 209, 204, 0.7);

}
.navigation {
    top: 0;
    margin: 0;
    background-color: rgb(72, 209, 204);
}

.nav-list {
    display: flex;
    justify-content: space-around;
    top: 0;
    margin: 0;
    padding: 1%;
}

.nav-list li {
    list-style-type: none;
}

.logo {
    max-height: 400px;
    max-width: 400px;
    margin: 10px auto;
}

.link {
    text-decoration: none;
    color: whitesmoke;
}

.recipes-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;
    background-color: whitesmoke;
    width: 800px;
    margin: 0 auto;
    border-radius: 20px;
}

.recipe-instructions {
    background-color: whitesmoke;
}

.recipe-instructions li{
    background-color: whitesmoke;
    list-style-type: none;
}

.form-container form {
    background-color: whitesmoke;
}

.results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;
    background-color: whitesmoke;
}

/*.results-container p, img {
    background-color: rgb(72, 209, 204);
}*/



.cocktails {
    display: flex;
    flex-direction: row;
    margin: 50px;
    background-color: whitesmoke;
}

.cocktails h3,
p {
    padding: 20px;
}

.interview-show {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    top: 100px;
    padding: 2%;
    background-color: whitesmoke;
    border-radius: 20px;
}

.interview-show h1, p{
    background-color: whitesmoke;
}

.logo {
    max-height: 400px;
    max-width: 400px;
    margin: 10px auto;
}

.interview-div p {
    background-color: rgba(72, 209, 204, 0.7);
}

.heading {
    font-family: 'Fredericka the Great', cursive;
    font-size: 4em;
    text-shadow: 0 5px 5px rgba(245,245,245, 0.7);
}

.guide-heading {
    font-family: 'Fredericka the Great', cursive;
    text-shadow: 0 5px 5px rgba(72, 209, 204, 0.7);
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 5%;
}

.drink-heading {
    font-family: 'Fredericka the Great', cursive;
    text-shadow: 0 2px 2px rgba(72, 209, 204, 0.7);
    background-color: whitesmoke;
}

.interview-list li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-shadow: 0 2px 2px rgba(72, 209, 204, 0.7);
}

.interview-list a {
    font-family: 'Fredericka the Great', cursive;

    text-decoration: none;
    font-size: 2em;
    color: black;
}
.interview-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 800px;
    margin-top: 100px;

}

.interview-link-holder {
    display: flex;
    flex-direction: column;
}
.input {
    width: 300px;
    padding: 2%;
    background-color: rgb(245,245,245);
}

.search {
    width: 80px;
    padding: 1%;
    background-color: rgb(72, 209, 204);
    box-shadow: 0 2px 2px rgba(38, 38, 38, 0.7);
    border: none;
    margin: 3%;
}

.guide-div {
    width: 800px;
    margin: 0 auto;
    background-color: whitesmoke;
    border-radius: 20px;

}

.guide-div p {
    background-color: whitesmoke;
}




